<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorial</title>
        <link rel="stylesheet" href="homepage.css"/>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>OAuth Tutorial</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>The best OAuth tutorial on the planet!</p>
        </main>
    </body>
</html>
